<nb-layout>
    <nb-layout-header fixed>Admin</nb-layout-header>
    <nb-sidebar>
        Hello {{ (authService.user$ | async)?.displayName }}!
        <nb-menu [items]="menuItems"></nb-menu>
    </nb-sidebar>
    <nb-layout-column><router-outlet></router-outlet></nb-layout-column>
    <nb-layout-footer>
        Powered by&nbsp;<a href="https://angular.io/">Angular</a>,&nbsp;<a href="https://akveo.github.io/nebular"
            >Nebular</a
        >
        &nbsp;and&nbsp;<a href="https://falconframework.org/">Falcon</a>. Version 0.1.0 &copy; 2019 Lukas Vögtle
    </nb-layout-footer>
</nb-layout>
