<ng-container *ngFor="let data of data$ | async">
    <ng-container [ngSwitch]="data.view.type">
        <ng-container *ngSwitchCase="'member'">
            <ladm-view-group-list-edit
                [(loading)]="loading"
                [data]="data"
                (reload)="onReload()"
                (submitCreate)="onCreate()"
            ></ladm-view-group-list-edit>
        </ng-container>
        <ng-container *ngSwitchCase="'memberOf'">
            <ladm-view-group-list-edit
                [(loading)]="loading"
                [data]="data"
                (reload)="onReload()"
                (submitCreate)="onCreate()"
            ></ladm-view-group-list-edit>
        </ng-container>
        <ng-container *ngSwitchCase="'fields'">
            <ladm-view-group-fields-edit
                [(loading)]="loading"
                [data]="data"
                (reload)="onReload()"
                (submitCreate)="onCreate()"
            ></ladm-view-group-fields-edit>
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{ data.view.type }}
        </ng-container>
    </ng-container>
</ng-container>
<div *ngIf="!(activatedRoute.paramMap | async).get('primaryKey')" class="form-control-group">
    <button nbButton [disabled]="loading" (click)="onCreate()">Create</button>
</div>
