<div class="form-control-group" [ngClass]="{ 'has-error': submitted && formControlRef.errors }">
    <ng-container *ngIf="type == 'checkbox'">
        <nb-checkbox [formControl]="formControlRef" [status]="submitted && formControlRef.errors ? 'danger' : ''">{{
            title
        }}</nb-checkbox>
    </ng-container>
    <ng-container *ngIf="type == 'text' || type == 'password' || type == 'datetime'">
        <ng-container *ngIf="!togglePassword && !enum">
            <label class="label" [for]="formControlEl">{{ title }}</label>
            <div class="input-group">
                <input
                    [type]="showText ? 'text' : 'password'"
                    [formControl]="formControlRef"
                    class="form-control"
                    nbInput
                    fullWidth
                    [placeholder]="title"
                    [status]="submitted && formControlRef.errors ? 'danger' : ''"
                    #formControlEl
                />
            </div>
        </ng-container>
        <ng-container *ngIf="enum">
            <label class="label" [for]="formControlEl">{{ title }}</label>
            <div class="input-group">
                <nb-select
                    [formControl]="formControlRef"
                    class="form-control"
                    fullWidth
                    [placeholder]="title"
                    [status]="submitted && formControlRef.errors ? 'danger' : ''"
                    #formControlEl
                >
                    <nb-option>Reset</nb-option>
                    <nb-option *ngFor="let option of enum" [value]="option.value">{{ option.title }}</nb-option>
                </nb-select>
            </div>
        </ng-container>
        <ng-container *ngIf="togglePassword">
            <label class="label" [for]="formControlEl">{{ title }}</label>
            <div class="input-group">
                <input
                    [type]="showText ? 'text' : 'password'"
                    [formControl]="formControlRef"
                    class="form-control"
                    nbInput
                    [placeholder]="title"
                    [status]="submitted && formControlRef.errors ? 'danger' : ''"
                    #formControlEl
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-danger btn-flat input-group-text" (click)="asText = !asText">
                        <i class="eye" *ngIf="!asText"></i>
                        <i class="eye-off" *ngIf="asText"></i>
                    </button>
                </span>
            </div>
        </ng-container>
    </ng-container>
    <nb-alert *ngIf="error" status="danger" closable (close)="formControlRef.updateValueAndValidity()">
        {{ error }}
    </nb-alert>
</div>
