/* You can add global styles to this file, and also import other style files */

.table th.fit, .table td.fit {
    width: 1px;
    white-space: nowrap;
}

.table th.fit nb-action, .table td.fit nb-action {
    padding: 0;
}

.table td.align-middle, .table th.align-middle {
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.table tr.clickable-row {
    cursor: pointer;
}
