<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <input type="text" nbInput [(ngModel)]="filter" name="filter" placeholder="Filter" />
        <nb-actions size="small" class="float-right">
            <nb-action *ngIf="view" icon="fa fa-plus" [routerLink]="['/edit', view.key]"></nb-action>
            <nb-action icon="fa fa-refresh" (click)="reload$.next(null)"></nb-action>
        </nb-actions>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th *ngFor="let field of fields$ | async" scope="col">{{field.title}}</th>
                    <th scope="col" class="fit"></th>
                </tr>
                <tr *ngFor="let value of data$ | async | filterModel:filter" class="clickable-row" [routerLink]="['/edit', view.key, value[view.primaryKey]]">
                    <td *ngFor="let field of fields$ | async" class="align-middle">
                        <ng-container [ngSwitch]="field.type">
                            <ng-container *ngSwitchCase="'isMemberOf'">
                                <label>
                                    <input nbInput type="checkbox" [checked]="value[field.key]" readonly />
                                </label>
                            </ng-container>
                            <ng-container *ngSwitchDefault>{{value[field.key]}}</ng-container>
                        </ng-container>
                    </td>
                    <td><a class="btn" (click)="openDialog($event, deleteModalBox, value[view.primaryKey])"><i class="fa fa-remove"></i></a></td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>

<ng-template #deleteModalBox let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Are you sure?</nb-card-header>
    <nb-card-body>
        Do you really want to delete {{view.title}} "{{data}}"? This is irreversible!
    </nb-card-body>
    <nb-card-footer>
        <button nbButton class="float-left" state="danger" (click)="performDelete(data); ref.close()">Yes</button>
        <button nbButton class="float-right" state="warning" (click)="ref.close()">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
